<div class="row">
<!--             MENU        -->
<div class="col-md-3 col-sm-12 col-lg-4 reports-options">
  <div class="row">
    <% if params['reportName'] %>
      <div id="date-picker" class="col-md-12">
        <h4>End date</h4>
        <%= form_tag kanaui_engine.dashboard_index_path(params), :method => :get do %>
            <div class="form-group">
              <div class="col-md-5">
                <input class="form-control" name="endDate" type="text" data-provide="datepicker" data-date-format="yyyy-mm-dd" data-date-today-highlight="true" value="<%= @endDate %>">
              </div>
            </div>
            <div class="form-group">
                <%= submit_tag 'Refresh', :class => 'btn btn-default' %>
            </div>
        <% end %>
      </div>
    <% end %>
    <div class="col-md-12 col-sm-8">
      <h4><%= link_to 'Available Reports', kanaui_engine.url_for(:controller => :reports) %></h4>
        <ul class="nav nav-tabs nav-stacked">
          <% if Rails.env.development? %>
            <li class="nav-element">
              <%= link_to "Fake pie", kanaui_engine.dashboard_index_path(:fake => 1, :name => 'fake_pie', :type => 'pie') %>
            </li>
            <li class="nav-element">
              <%= link_to "Fake line", kanaui_engine.dashboard_index_path(:fake => 1, :name => 'fake_line', :type => 'line') %>
            </li>
          <% end %>
        <% @reports.each do |r| %>
          <% link = kanaui_engine.dashboard_index_path(:params => {:startDate => @startDate,
                                                                   :endDate => @endDate,
                                                                   :name => r['reportName']}) %>
          <li class="nav-element <%= params[:name] == r['reportName'] ? 'current' : '' %>">
            <%= link_to r['reportPrettyName'], link, :class => "truncate-text", title: r['reportName'].titleize %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>

<!--             DASHBOARD        -->
<div class="col-md-9 col-sm-12 col-lg-8">
  <div class="row">
    <% if params[:name] %>
      <h2 class="chart-title">
        <%= @raw_name.titleize %>
      </h2>
      <div id="loading-spinner"></div>
      <div id="chartAnchor" data-reports-path="<%= kanaui_engine.reports_path(params) %>"></div>
      <div id="date-controls" style="display: none;">
        <ul class="nav nav-pills nav-justified">
          <% @available_start_dates.each do |key, value| %>
            <li><%= link_to key, kanaui_engine.dashboard_index_path(params.merge(:startDate => value)) %></li>
          <% end %>
        </ul>
      </div>
      <hr>
      <div class="pull-right">
        <%= link_to 'Download raw data', kanaui_engine.reports_path(params.merge(:format => 'csv')), class: 'btn btn-default' %>
      </div>
      <a class="btn btn-default" role="button" data-toggle="collapse" href="#advanced-controls" aria-expanded="false" aria-controls="advanced-controls">
        Advanced controls
      </a>
      <div class="collapse" id="advanced-controls">
        <div class="well">
          <ul>
            <% if @report['reportType'] == 'TIMELINE' %>
              <% at_least_two_months = params[:startDate].blank? || params[:endDate].blank? || (params[:endDate].to_date.beginning_of_month - 1.month > params[:startDate].to_date) %>
              <% at_least_two_weeks = params[:startDate].blank? || params[:endDate].blank? || (params[:endDate].to_date.beginning_of_week - 1.week > params[:startDate].to_date) %>
              <% if params[:smooth] != 'AVERAGE_WEEKLY' && at_least_two_weeks %>
                <li><%= link_to 'Weekly average', kanaui_engine.dashboard_index_path(params.merge(:smooth => 'AVERAGE_WEEKLY')) %></li>
              <% end %>
              <% if params[:smooth] != 'AVERAGE_MONTHLY' && at_least_two_months %>
                <li><%= link_to 'Monthly average', kanaui_engine.dashboard_index_path(params.merge(:smooth => 'AVERAGE_MONTHLY')) %></li>
              <% end %>
              <% if params[:smooth] != 'SUM_WEEKLY' && at_least_two_weeks %>
                <li><%= link_to 'Weekly sum', kanaui_engine.dashboard_index_path(params.merge(:smooth => 'SUM_WEEKLY')) %></li>
              <% end %>
              <% if params[:smooth] != 'SUM_MONTHLY' && at_least_two_months %>
                <li><%= link_to 'Monthly sum', kanaui_engine.dashboard_index_path(params.merge(:smooth => 'SUM_MONTHLY')) %></li>
              <% end %>
            <% end %>
            <% filter_fields = ((@report['schema'] || {})['fields'] || []).select { |field| !field['distinctValues'].blank? && field['dataType'] =~ /char/ } # To ignore tenant_record_id %>
            <% unless filter_fields.empty? %>
              <li>Slicing & Dicing:
                <%= form_tag kanaui_engine.dashboard_index_path(params), :method => :get, :class => 'form-horizontal' do %>
                    <input name="startDate" type="hidden" value="<%= params[:startDate] %>">
                    <input name="endDate" type="hidden" value="<%= params[:endDate] %>">
                    <input name="name" type="hidden" value="<%= @raw_name %>">
                    <input name="smooth" type="hidden" value="<%= params[:smooth] %>">
                    <input name="sqlOnly" type="hidden" value="<%= params[:sqlOnly] %>">
                    <input name="format" type="hidden" value="<%= params[:format] %>">

                    <fieldset class="form-group">
                      <legend>Filters</legend>
                      <% filter_fields.each do |field| %>
                          <div class="form-group">
                            <%= label_tag "filter_#{field['name']}", field['name'], :class => 'col-sm-2 control-label' %>
                            <div class="col-sm-10">
                              <%= select_tag "filter_#{field['name']}", options_for_select(field['distinctValues']), :multiple => true, :class => 'form-control' %>
                            </div>
                          </div>
                      <% end %>
                    </fieldset>
                    <fieldset class="form-group">
                      <legend>Dimensions to plot</legend>
                      <% filter_fields.each do |field| %>
                          <div class="form-group">
                            <%= label_tag "group_#{field['name']}", field['name'], :class => 'col-sm-2 control-label' %>
                            <div class="col-sm-10">
                              <%= select_tag "group_#{field['name']}", options_for_select(field['distinctValues']), :multiple => true, :class => 'form-control' %>
                            </div>
                          </div>
                      <% end %>
                    </fieldset>

                    <div class="form-group">
                      <div class="col-sm-offset-2 col-sm-10">
                        <%= submit_tag 'Refresh', :class => 'btn btn-default' %>
                      </div>
                    </div>
                <% end %>
              </li>
                <li>Current Analytics query:&nbsp;<%= link_to '<i class="fa fa-question-circle"></i>'.html_safe, 'http://docs.killbill.io/latest/userguide_analytics.html#_dashboard_api', :target => '_blank' %>
                <pre><%= params[:name] -%></pre>
              </li>
          <% end %>
            <li><%= link_to 'SQL query', kanaui_engine.reports_path(params.merge(:sqlOnly => true)) %></li>
          </ul>
        </div>
      </div>
    <% end %>
  </div>
</div>
</div>
