<!DOCTYPE html>
<html>
  <head>
    <title>Kanaui</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js" charset="utf-8"></script>
    <%= stylesheet_link_tag 'new_reports', media: 'all' %>
    <%= javascript_include_tag 'new_reports' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <!--             MENU        -->
        <div class="col-md-2 reports-options">
          <h4>Available Reports:</h4>
          <ul class="nav nav-tabs nav-stacked">
            <% @reports.each do |r| %>
              <li><%= link_to r['reportName'], kanaui_engine.new_reports_path(:params => {'startDate' => @startDate, 'endDate' => @endDate, 'report1' => r['reportName']}), :class => "truncate-text" %></li>
            <% end %>
          </ul>
        </div>

        <!--             DASHBOARD        -->
        <div class="col-md-10">
          <div class="row">
            <div id='loading-spinner'></div>
            <div id="chartAnchor" data-reports-path="<%= kanaui_engine.reports_path(params.merge!(name: params['report1'])) %>"></div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
