<!DOCTYPE html>
<html>
<head>
  <title>Kanaui</title>
  <%= yield :scripts %>
  <%= stylesheet_link_tag    "kanaui", :media => "all" %>
  <%= javascript_include_tag "kanaui" %>
  <%= csrf_meta_tags %>
</head>
<div class="navbar navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <ul class="nav">
        <li class="active"><a href="#">Menu 1</a></li>
        <li class="active"><a href="#">Menu 2</a></li>
        <li class="active"><a href="#">Menu 3</a></li>
      </ul>
      <ul class="nav pull-right">
      </ul>
    </div>
  </div>
</div>
<div class="container">
  <%- # :alert used by devise -%>
  <% [:error, :alert].each do |key| %>
      <% if flash[key] %>
          <div class="row">
            <div class="col-md-10 col-md-offset-2">
              <div class="alert alert-error"><%= flash[key] %></div>
            </div>
          </div>
      <% end %>
  <% end %>
  <% if flash[:notice] %>
      <div class="row">
        <div class="col-md-10 col-md-offset-2">
          <div class="alert alert-info"><%= flash[:notice] %></div>
        </div>
      </div>
  <% end %>
  <%= yield %>
</div>
</body>
</html>
